:root {
    color-scheme: light dark;
    --special-text-color: hsla(60, 100%, 50%, 0.5);
    --border-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --special-text-color: hsla(60, 50%, 70%, 0.75);
        --border-color: white;
    }
}

.special {
    color: var(--special-text-color);
    border: 1px solid var(--border-color);
}


html {
    
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;

}
/* #root {

    width: 100%;
    height: 100%;
  
} */
circle{
    fill: #0288D1;
    border-radius: 100%;
}

text{
    font-family: sans-serif;
}

.tick text {
    fill: #757575;
}

.tick line {
    stroke: #E0E0E0;
}

.axis-label {
 font-size: 1.2em;
 fill: #757575;
}

.title {
 font-size: 1.5em;
 fill: #424242;
}

path {
    fill: lightgreen;
}

svg {
   
    
}

.country {
    fill:lightgrey;
    stroke: white;
    
}
.province {
    fill:lightgreen;
     stroke: white;
}
.province:hover {
        fill:green;
    fill-opacity: 0.8;
}

.sphere {
    fill: blue;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

#map {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

circle {
  fill: #fff;
  fill-opacity: 0.4;
  stroke: #111;
}

.background {
  fill: none;
  pointer-events: all;
}